<div id="{{ id }}" class="{{ class }}">
    <ul class="nav flex-column">
        {% for v in rs_pagenavi %}
            <li class="nav-item">
                <a href="{{ cs_urlp(v.page_id) }}">{{ v.page_title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>