<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% block area_head %}
{% endblock %}
</head>
<body>

{% block area_body %}
{% endblock area_body %}

{% block area_body_tail %}
{% endblock area_body_tail %}

</body>
</html>