<div id="{{ id }}" class="{{ class }}">
    <ul class="list-unstyled">
        {% for item in items %}
            <li><a href="{{ item.link }}" target="_new">{{ item.page_title }}</a></li>
        {% endfor %}
    </ul>
</div>