{% extends "cscms/controller/page/template/plane.twig" %}

{% block area_body %}
<h1>Page Not Found （ページが見つかりません）</h1>
<p>そのアドレスのページが存在していません。 </p>
<br>
<a href="{{ cs_url('home') }}">ホームに戻る</a>.
{% endblock %}
